{% load oembed_tags %}


{% if video_type == 'basicvideo' %}
    <video width="320" height="240" controls="controls">
        {% for video in video_instance.basicvideo.html5video_set.all %}
        <source src="{{ video.video_file.url }}" type="{{ video.get_video_type_display }}">
        {% endfor %}
        Your browser does not support the Video Tag.
    </video>
{% endif %}


{% if video_type == 'embedvideo' %}

    {% comment %}
    
        If we have the video_code, then we use that to embed the video.
        If not then we will use django-oembed to display the video directly
        from the url.
        Make sure you have django-oembed installed.

    {% endcomment %}

    {% if video_instance.embedvideo.video_code %}
        {{ video_instance.embedvideo.video_code|safe }}
    {% else %}
        {% oembed %}{{ video_instance.embedvideo.video_url }}{% endoembed %}
    {% endif %}

{% endif %}


{% if video_type == 'flashvideo' %}

    {% comment %}
        To use the flashplayer option, you need to have a flashplayer installed
        for your site. FlowPlayer is a good choice (http://flowplayer.org/).

        If you have a flashplayer installed, you need to customize this
        template and add the neccesarry HTML required for the flash
        player you chose.

        Here is a example, using flowplayer:

        <a href="{{ video_instance.flashvideo.flv_file.url }}"
            style="display: block; width={{ width }}; height={{ height }};"
            id="player"> </a>
    {% endcomment %}

    <p>The player has been disabled in the demo app. See the template,
        <code>videostream/include/render_video.html</code>.

    <p>Just for reference, the flv file is: <code>{{ video_instance.flashvideo.flv_file.url }}</code>

{% endif %}
