{% extends 'videostream/base.html' %}

{% block main_content %}
    <h1>Videos published in, {{ year }}</h1>

    {% if object_list %}
    <ul>
        {% for video in object_list %}
        <li>
            <h2><a href="{{ video.get_absolute_url }}">{{ video.title }}</a></h2>
            <p>
                {% if video.author.get_full_name %}
                    {{ video.author.get_full_name }}
                {% else %}
                    {{ video.author }}
                {% endif %}
                - {{ video.publish_date|date:"d M Y" }}
            </p>
            <p>{{ video.description }}</p>
            <p><a href="{{ video.get_absolute_url }}">View now...</a></p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
